<div>
  <form class="form" (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <div>
      <div>
        <mat-form-field>
          <mat-label>Nom d'usager</mat-label>
          <input
            matInput
            name="username"
            type="text"
            formControlName="username"
          />
          <mat-error
            *ngIf="
              loginForm.get('username')?.invalid &&
              (loginForm.get('username')?.dirty ||
                loginForm.get('username')?.touched)
            "
          >
            Entrez un nom d'usager
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input
            matInput
            name="password"
            type="password"
            formControlName="password"
          />
          <mat-error
            *ngIf="
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
          >
            Entrez un mot de passe
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div>
      <button mat-raised-button color="primary" type="submit">Connexion</button>
    </div>
  </form>
</div>
