.messages {
  height: 70vh;
  overflow-y: scroll;
  text-align: left;
  padding: 30px 30px 10px 30px;
}

.messages img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

p {
  margin: 10px;
}
